header{
  padding: 01px;
  margin: 01px;
  background-color:#36E1E3;
  color: white;

}
body{
  background-color:#105D5D;
  padding: 01px;
  margin: 01px;
color: #36E1E3;
}
footer{
  color:white;
}
